.wrap {
    display: flex;
    margin-top: 20px;
}

.left, .right {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 50px 10px 10px;
}

.left {
    border-radius: 5px;
}

.task {
    color: blue;
}

.resolve {
    justify-content: space-between;
    gap: 10px;
    max-width: 450px;
    margin: 5px 0px;
    padding: 5px 10px 10px 5px;
    border: 1px silver solid;
    border-radius: 3px;
}